@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
}

::selection {
  background-color: #1890ff;
  color: #fff;
}

@media (max-width: 767px) {
  html {
    font-size: 80%;
  }
}

.custom-scroll::-webkit-scrollbar {
  height: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 9999px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db transparent;
}
